[user]
  name = Sahil Muthoo
  email = sahil.muthoo@gmail.com
[credential]
  helper = osxkeychain
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
[alias]
  st = "status -sb"
  co = checkout
